@import 'base/css-variables';
@import 'base/variables';
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'base/utilities';
@import 'components/cstm-navbar';
@import 'components/cstm-footer';
@import 'pages/order-confirmation';
